<div class="container m-auto">
  <div class="row-design row m-auto">
    <div class="box-design col border px-0"></div>
    <div class="box-design col border px-0"></div>
    <div class="box-design col border px-0"></div>
  </div>
  <div class="row-design row m-auto">
    <div class="box-design col border px-0"></div>
    <div class="box-design col border px-0"></div>
    <div class="box-design col border px-0"></div>
  </div>
  <div class="row-design row m-auto">
    <div class="box-design col border px-0"></div>
    <div class="box-design col border px-0"></div>
    <div class="box-design col border px-0"></div>
  </div>
</div>

<app-cross></app-cross>
<app-circle></app-circle>
